In [2]:
import pandas as pd
import numpy as np

In [3]:
mov_mer = pd.read_excel('movies_merge.xlsx')

In [4]:
mov_mer.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
mov_mer.shape

(16744, 11)

In [6]:
mov_mer.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [7]:
ott_mer = pd.read_csv('ott_merge.csv')
ott_mer.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [8]:
ott_mer.shape

(16744, 5)

In [9]:
mov_ott = pd.concat([mov_mer, ott_mer], axis=0)
mov_ott

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16740,16741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16741,16742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16742,16743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16743,16744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [10]:
mov_ott.shape

(33488, 15)

In [11]:
mov_ott1 = mov_mer.merge(ott_mer, how='left', on='ID')

In [12]:
mov_ott1.shape
mov_ott.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')

In [13]:
mo_gpby = mov_ott1.groupby(['Year', 'Netflix'])

In [14]:
mo_gpby.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15856,15857,Colossus and the Headhunters,1963,NaN,2.0,NaN,Guido Malatesta,"Action,Adventure,Romance,War",Italy,Italian,81.0,1,0,0,0
16503,16504,Steamboat Willie,1928,NaN,7.6,NaN,"Ub Iwerks,Walt Disney","Animation,Short,Comedy,Family,Musical",United States,English,8.0,0,0,1,0
16566,16567,Davy Crockett and the River Pirates,1956,all,6.8,NaN,Norman Foster,"Adventure,Comedy,Drama,Family,Western",United States,English,81.0,1,0,0,0
16672,16673,The Plausible Impossible,1956,NaN,7.7,NaN,"William Beaudine,Wilfred Jackson","Adventure,Drama,Family",United States,English,50.0,1,0,0,0
16692,16693,Water Birds,1952,NaN,6.7,NaN,Ben Sharpsteen,"Documentary,Short,Family",United States,English,30.0,1,1,0,1

film release date and content rating

In [15]:
mov_ott1.pivot(index='Title', columns='Age', values='Year')

Age                                NaN     13+  16+     18+      7+  all
Title
Inception                          NaN  2010.0  NaN     NaN     NaN  NaN
The Matrix                         NaN     NaN  NaN  1999.0     NaN  NaN
Avengers: Infinity War             NaN  2018.0  NaN     NaN     NaN  NaN
Back to the Future                 NaN     NaN  NaN     NaN  1985.0  NaN
The Good, the Bad and the Ugly     NaN     NaN  NaN  1966.0     NaN  NaN
...                                ...     ...  ...     ...     ...  ...
The Ghosts of Buxley Hall       1980.0     NaN  NaN     NaN     NaN  NaN
The Poof Point                     NaN     NaN  NaN     NaN  2001.0  NaN
Sharks of Lost Island           2013.0     NaN  NaN     NaN     NaN  NaN
Man Among Cheetahs              2017.0     NaN  NaN     NaN     NaN  NaN
In Beaver Valley                1950.0     NaN  NaN     NaN     NaN  NaN

[16744 rows x 6 columns]

Title of Movies, their Genres, the directors by content rating

In [16]:
mov_ott1.pivot(index='Title', columns='Age', values=['Directors', 'Genres'])

                                           Directors                           \
Age                                              NaN                      13+
Title
Inception                                        NaN        Christopher Nolan
The Matrix                                       NaN                      NaN
Avengers: Infinity War                           NaN  Anthony Russo,Joe Russo
Back to the Future                               NaN                      NaN
The Good, the Bad and the Ugly                   NaN                      NaN
...                                              ...                      ...
The Ghosts of Buxley Hall               Bruce Bilson                      NaN
The Poof Point                                   NaN                      NaN
Sharks of Lost Island                   Neil Gelinas                      NaN
Man Among Cheetahs              Richard Slater-Jones                      NaN
In Beaver Valley                         James Algar                      NaN

                                                                     \
Age                             16+                             18+
Title
Inception                       NaN                             NaN
The Matrix                      NaN  Lana Wachowski,Lilly Wachowski
Avengers: Infinity War          NaN                             NaN
Back to the Future              NaN                             NaN
The Good, the Bad and the Ugly  NaN                    Sergio Leone
...                             ...                             ...
The Ghosts of Buxley Hall       NaN                             NaN
The Poof Point                  NaN                             NaN
Sharks of Lost Island           NaN                             NaN
Man Among Cheetahs              NaN                             NaN
In Beaver Valley                NaN                             NaN

                                                      \
Age                                          7+  all
Title
Inception                                   NaN  NaN
The Matrix                                  NaN  NaN
Avengers: Infinity War                      NaN  NaN
Back to the Future              Robert Zemeckis  NaN
The Good, the Bad and the Ugly              NaN  NaN
...                                         ...  ...
The Ghosts of Buxley Hall                   NaN  NaN
The Poof Point                      Neal Israel  NaN
Sharks of Lost Island                       NaN  NaN
Man Among Cheetahs                          NaN  NaN
In Beaver Valley                            NaN  NaN

                                                      Genres  \
Age                                                      NaN
Title
Inception                                                NaN
The Matrix                                               NaN
Avengers: Infinity War                                   NaN
Back to the Future                                       NaN
The Good, the Bad and the Ugly                           NaN
...                                                      ...
The Ghosts of Buxley Hall       Comedy,Family,Fantasy,Horror
The Poof Point                                           NaN
Sharks of Lost Island                            Documentary
Man Among Cheetahs                               Documentary
In Beaver Valley                    Documentary,Short,Family

                                                                       \
Age                                                          13+  16+
Title
Inception                       Action,Adventure,Sci-Fi,Thriller  NaN
The Matrix                                                   NaN  NaN
Avengers: Infinity War                   Action,Adventure,Sci-Fi  NaN
Back to the Future                                           NaN  NaN
The Good, the Bad and the Ugly                               NaN  NaN
...                                                          ...  ...
The Ghosts of Buxley Hall                                    NaN  NaN
The Poof Point                                               NaN  NaN
Sharks of Lost Island                                        NaN  NaN
Man Among Cheetahs                                           NaN  NaN
In Beaver Valley                                             NaN  NaN


Age                                       18+                       7+  all
Title
Inception                                 NaN                      NaN  NaN
The Matrix                      Action,Sci-Fi                      NaN  NaN
Avengers: Infinity War                    NaN                      NaN  NaN
Back to the Future                        NaN  Adventure,Comedy,Sci-Fi  NaN
The Good, the Bad and the Ugly        Western                      NaN  NaN
...                                       ...                      ...  ...
The Ghosts of Buxley Hall                 NaN                      NaN  NaN
The Poof Point                            NaN     Comedy,Family,Sci-Fi  NaN
Sharks of Lost Island                     NaN                      NaN  NaN
Man Among Cheetahs                        NaN                      NaN  NaN
In Beaver Valley                          NaN                      NaN  NaN

[16744 rows x 12 columns]

Title of Movies, released Year, language by content rating

In [17]:
mov_ott1.pivot(index='Title', columns='Age', values=['Year', 'Language'])

                                Year                             Language  \
Age                              NaN   13+  16+   18+    7+  all      NaN
Title
Inception                        NaN  2010  NaN   NaN   NaN  NaN      NaN
The Matrix                       NaN   NaN  NaN  1999   NaN  NaN      NaN
Avengers: Infinity War           NaN  2018  NaN   NaN   NaN  NaN      NaN
Back to the Future               NaN   NaN  NaN   NaN  1985  NaN      NaN
The Good, the Bad and the Ugly   NaN   NaN  NaN  1966   NaN  NaN      NaN
...                              ...   ...  ...   ...   ...  ...      ...
The Ghosts of Buxley Hall       1980   NaN  NaN   NaN   NaN  NaN  English
The Poof Point                   NaN   NaN  NaN   NaN  2001  NaN      NaN
Sharks of Lost Island           2013   NaN  NaN   NaN   NaN  NaN  English
Man Among Cheetahs              2017   NaN  NaN   NaN   NaN  NaN  English
In Beaver Valley                1950   NaN  NaN   NaN   NaN  NaN  English

                                                                       \
Age                                                 13+  16+      18+
Title
Inception                       English,Japanese,French  NaN      NaN
The Matrix                                          NaN  NaN  English
Avengers: Infinity War                          English  NaN      NaN
Back to the Future                                  NaN  NaN      NaN
The Good, the Bad and the Ugly                      NaN  NaN  Italian
...                                                 ...  ...      ...
The Ghosts of Buxley Hall                           NaN  NaN      NaN
The Poof Point                                      NaN  NaN      NaN
Sharks of Lost Island                               NaN  NaN      NaN
Man Among Cheetahs                                  NaN  NaN      NaN
In Beaver Valley                                    NaN  NaN      NaN


Age                                  7+  all
Title
Inception                           NaN  NaN
The Matrix                          NaN  NaN
Avengers: Infinity War              NaN  NaN
Back to the Future              English  NaN
The Good, the Bad and the Ugly      NaN  NaN
...                                 ...  ...
The Ghosts of Buxley Hall           NaN  NaN
The Poof Point                  English  NaN
Sharks of Lost Island               NaN  NaN
Man Among Cheetahs                  NaN  NaN
In Beaver Valley                    NaN  NaN

[16744 rows x 12 columns]

Netflix screened movies based on language, runtime and country

In [18]:
mov_ott1.pivot(index='Title', columns='Netflix', values=['Country', 'Language', 'Runtime'])

                                                     Country                 \
Netflix                                                    0              1
Title
Inception                       United States,United Kingdom            NaN
The Matrix                                     United States            NaN
Avengers: Infinity War                         United States            NaN
Back to the Future                                       NaN  United States
The Good, the Bad and the Ugly      Italy,Spain,West Germany            NaN
...                                                      ...            ...
The Ghosts of Buxley Hall                      United States            NaN
The Poof Point                                 United States            NaN
Sharks of Lost Island                          United States            NaN
Man Among Cheetahs                             United States            NaN
In Beaver Valley                                         NaN  United States

                                               Language          Runtime  \
Netflix                                               0        1       0
Title
Inception                       English,Japanese,French      NaN   148.0
The Matrix                                      English      NaN   136.0
Avengers: Infinity War                          English      NaN   149.0
Back to the Future                                  NaN  English     NaN
The Good, the Bad and the Ugly                  Italian      NaN   161.0
...                                                 ...      ...     ...
The Ghosts of Buxley Hall                       English      NaN   120.0
The Poof Point                                  English      NaN    90.0
Sharks of Lost Island                           English      NaN     NaN
Man Among Cheetahs                              English      NaN     NaN
In Beaver Valley                                    NaN  English     NaN


Netflix                             1
Title
Inception                         NaN
The Matrix                        NaN
Avengers: Infinity War            NaN
Back to the Future              116.0
The Good, the Bad and the Ugly    NaN
...                               ...
The Ghosts of Buxley Hall         NaN
The Poof Point                    NaN
Sharks of Lost Island             NaN
Man Among Cheetahs                NaN
In Beaver Valley                 32.0

[16744 rows x 6 columns]

the title of movies, specified language, potential runtime, and genres by content rating

In [19]:
mov_ott1.pivot(index='Title', columns='Age', values=['Runtime', 'Language', 'Genres'])

                               Runtime                                 \
Age                                NaN    13+  16+    18+     7+  all
Title
Inception                          NaN  148.0  NaN    NaN    NaN  NaN
The Matrix                         NaN    NaN  NaN  136.0    NaN  NaN
Avengers: Infinity War             NaN  149.0  NaN    NaN    NaN  NaN
Back to the Future                 NaN    NaN  NaN    NaN  116.0  NaN
The Good, the Bad and the Ugly     NaN    NaN  NaN  161.0    NaN  NaN
...                                ...    ...  ...    ...    ...  ...
The Ghosts of Buxley Hall        120.0    NaN  NaN    NaN    NaN  NaN
The Poof Point                     NaN    NaN  NaN    NaN   90.0  NaN
Sharks of Lost Island              NaN    NaN  NaN    NaN    NaN  NaN
Man Among Cheetahs                 NaN    NaN  NaN    NaN    NaN  NaN
In Beaver Valley                  32.0    NaN  NaN    NaN    NaN  NaN

                               Language                                \
Age                                 NaN                      13+  16+
Title
Inception                           NaN  English,Japanese,French  NaN
The Matrix                          NaN                      NaN  NaN
Avengers: Infinity War              NaN                  English  NaN
Back to the Future                  NaN                      NaN  NaN
The Good, the Bad and the Ugly      NaN                      NaN  NaN
...                                 ...                      ...  ...
The Ghosts of Buxley Hall       English                      NaN  NaN
The Poof Point                      NaN                      NaN  NaN
Sharks of Lost Island           English                      NaN  NaN
Man Among Cheetahs              English                      NaN  NaN
In Beaver Valley                English                      NaN  NaN

                                                       \
Age                                 18+       7+  all
Title
Inception                           NaN      NaN  NaN
The Matrix                      English      NaN  NaN
Avengers: Infinity War              NaN      NaN  NaN
Back to the Future                  NaN  English  NaN
The Good, the Bad and the Ugly  Italian      NaN  NaN
...                                 ...      ...  ...
The Ghosts of Buxley Hall           NaN      NaN  NaN
The Poof Point                      NaN  English  NaN
Sharks of Lost Island               NaN      NaN  NaN
Man Among Cheetahs                  NaN      NaN  NaN
In Beaver Valley                    NaN      NaN  NaN

                                                      Genres  \
Age                                                      NaN
Title
Inception                                                NaN
The Matrix                                               NaN
Avengers: Infinity War                                   NaN
Back to the Future                                       NaN
The Good, the Bad and the Ugly                           NaN
...                                                      ...
The Ghosts of Buxley Hall       Comedy,Family,Fantasy,Horror
The Poof Point                                           NaN
Sharks of Lost Island                            Documentary
Man Among Cheetahs                               Documentary
In Beaver Valley                    Documentary,Short,Family

                                                                       \
Age                                                          13+  16+
Title
Inception                       Action,Adventure,Sci-Fi,Thriller  NaN
The Matrix                                                   NaN  NaN
Avengers: Infinity War                   Action,Adventure,Sci-Fi  NaN
Back to the Future                                           NaN  NaN
The Good, the Bad and the Ugly                               NaN  NaN
...                                                          ...  ...
The Ghosts of Buxley Hall                                    NaN  NaN
The Poof Point                                               NaN  NaN
Sharks of Lost Island                                        NaN  NaN
Man Among Cheetahs                                           NaN  NaN
In Beaver Valley                                             NaN  NaN


Age                                       18+                       7+  all
Title
Inception                                 NaN                      NaN  NaN
The Matrix                      Action,Sci-Fi                      NaN  NaN
Avengers: Infinity War                    NaN                      NaN  NaN
Back to the Future                        NaN  Adventure,Comedy,Sci-Fi  NaN
The Good, the Bad and the Ugly        Western                      NaN  NaN
...                                       ...                      ...  ...
The Ghosts of Buxley Hall                 NaN                      NaN  NaN
The Poof Point                            NaN     Comedy,Family,Sci-Fi  NaN
Sharks of Lost Island                     NaN                      NaN  NaN
Man Among Cheetahs                        NaN                      NaN  NaN
In Beaver Valley                          NaN                      NaN  NaN

[16744 rows x 18 columns]

In [20]:
mov_ott_mer = pd.merge(mov_mer, ott_mer, how='left', on='ID' )

to create a subet

In [21]:
mov_ott_runtime = mov_ott_mer[['ID', 'Runtime', 'Genres']]

To Add 1 minute to the column Runtime

In [22]:
mov_ott_runtime['Runtime'].add(1)

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

replace Genres string with Documentary or Not documentary

In [23]:
mov_ott_runtime['Gen_doc'] = np.where(mov_ott_runtime['Genres'].str.contains('Documentary'), 'Documentary', 'Not Documentary')

C:\Users\srini\AppData\Local\Temp\ipykernel_3464\2468960619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mov_ott_runtime['Gen_doc'] = np.where(mov_ott_runtime['Genres'].str.contains('Documentary'), 'Documentary', 'Not Documentary')

In [24]:
mov_ott_runtime.Gen_doc.apply(len)

0        15
1        15
2        15
3        15
4        15
         ..
16739    15
16740    15
16741    11
16742    11
16743    11
Name: Gen_doc, Length: 16744, dtype: int64

To remove 0.01 minutes from Runtime

In [25]:
mov_ott_runtime['Runtime'].subtract(0.01)

0        147.99
1        135.99
2        148.99
3        115.99
4        160.99
          ...
16739    119.99
16740     89.99
16741       NaN
16742       NaN
16743     31.99
Name: Runtime, Length: 16744, dtype: float64

In [26]:
mov_ott = pd.merge(mov_mer, ott_mer, how='left', on='ID')

In [27]:
mov_ott.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')

In [28]:
mov_ott_runtime = mov_ott[['ID', 'Runtime', 'Genres']]

In [29]:
mov_ott_runtime.head()

   ID  Runtime                            Genres
0   1    148.0  Action,Adventure,Sci-Fi,Thriller
1   2    136.0                     Action,Sci-Fi
2   3    149.0           Action,Adventure,Sci-Fi
3   4    116.0           Adventure,Comedy,Sci-Fi
4   5    161.0                           Western

In [30]:
mov_ott_ratings = mov_ott[['ID', 'IMDb', 'Rotten Tomatoes']]

In [31]:
mov_ott_ratings

          ID  IMDb  Rotten Tomatoes
0          1   8.8             0.87
1          2   8.7             0.87
2          3   8.5             0.84
3          4   8.5             0.96
4          5   8.8             0.97
...      ...   ...              ...
16739  16740   6.2              NaN
16740  16741   4.7              NaN
16741  16742   5.7              NaN
16742  16743   6.6              NaN
16743  16744   NaN              NaN

[16744 rows x 3 columns]

In [36]:
mov_ott_ratings = mov_ott[['ID', 'IMDb', 'Rotten Tomatoes']]

In [37]:
mov_ott_ratings_final = mov_ott_ratings.fillna(0)

In [39]:
mov_ott_ratings_final

          ID  IMDb  Rotten Tomatoes
0          1   8.8             0.87
1          2   8.7             0.87
2          3   8.5             0.84
3          4   8.5             0.96
4          5   8.8             0.97
...      ...   ...              ...
16739  16740   6.2             0.00
16740  16741   4.7             0.00
16741  16742   5.7             0.00
16742  16743   6.6             0.00
16743  16744   0.0             0.00

[16744 rows x 3 columns]

In [43]:
def avg_col2(f1, f2):
    f3 = (f1/10 + f2)/2
    return f3

mov_ott_ratings_final['ratings'] = avg_col2(mov_ott_ratings_final['IMDb'], mov_ott_ratings_final['Rotten Tomatoes'])

In [44]:
mov_ott_ratings_final

          ID  IMDb  Rotten Tomatoes  ratings
0          1   8.8             0.87    0.875
1          2   8.7             0.87    0.870
2          3   8.5             0.84    0.845
3          4   8.5             0.96    0.905
4          5   8.8             0.97    0.925
...      ...   ...              ...      ...
16739  16740   6.2             0.00    0.310
16740  16741   4.7             0.00    0.235
16741  16742   5.7             0.00    0.285
16742  16743   6.6             0.00    0.330
16743  16744   0.0             0.00    0.000

[16744 rows x 4 columns]

In [45]:
def cat_cnt(f1):
    print(f1.value_counts())

movies released by content rating

In [48]:
f2 = mov_ott['Age'].astype('category')
cat_cnt(f2)

18+    3474
7+     1462
13+    1255
all     843
16+     320
Name: Age, dtype: int64

movies released per year

In [49]:
f2 = mov_ott['Year'].astype('category')
cat_cnt(f2)

2017    1401
2018    1285
2016    1206
2015    1065
2014     986
        ...
1916       1
1912       1
1917       1
1924       1
1902       1
Name: Year, Length: 109, dtype: int64